* {
  margin: 0;
  padding: 0;
  min-width: 0;
  font-family: inherit;
}
body {
  margin: 10px;
  max-width: min(100%, 750px);
  font-family: Arial, sans-serif;
}
.message-text {
  white-space: pre-wrap;
}
.message {
  margin-top: 5px;
}
.messages > hr {
  margin-top: 10px;
}
